<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617174873377-t9sqe0mhee42f0m9oqic5lfl01rd08t7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617174873377-t9sqe0mhee42f0m9oqic5lfl01rd08t7</string>
	<key>API_KEY</key>
	<string>AIzaSyC_vVON02NDTshVUTGNeNKvMrGer52Dl-k</string>
	<key>GCM_SENDER_ID</key>
	<string>617174873377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.panucciRistorante</string>
	<key>PROJECT_ID</key>
	<string>panucci-bda4b</string>
	<key>STORAGE_BUCKET</key>
	<string>panucci-bda4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617174873377:ios:2f64e0d12c03ef325c7a60</string>
</dict>
</plist>